<ui-view>

<h3>
  <i class="fa fa-tasks"></i>
  Les Projets
</h3>

<!-- <div class="form-inline form">

  <div class="form-group">
    <label for="exampleInputName2">Search : </label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Example : Jane Doe">
  </div>

  <div class="form-group">
  	<label for="exampleInputName1">Order By : </label>
     <select class="form-control" id="exampleInputEmail1" placeholder="jane.doe@example.com" ng-model='order'>
		<option value="name" selected>name</option>
		<option value="reknown">reknown</option>
	</select>
  </div>
</div> -->

</div>
<div class="dropdown settings pull-left">
  <a ng-click="main.plusone()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions </i> <span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-menu-left">
<!-- ui-sref="details({id: '1'}) -->
    <li ng-class="{disabled : main.voir}"><a href="" ng-click="main.details()"><i class="fa fa-eye"></i> Details</a></li>
    <li ng-class="{disabled : main.voir}"><a href="" ng-click="main.modifier()"><i class="fa fa-pencil-square-o"></i> Modifier</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{disabled: main.delete}"><a href="#"><i class="fa fa-trash-o"></i> Supprimer</a></li>
  </ul>
</div>
<div class="button-add">
  <a class="btn btn-primary" ui-sref="ajout"><i class="fa fa-plus"></i> Ajouter</a>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>
        <label class="checkbox">
          <input type="checkbox" class="custom-checkbox" ng-model="main.master" ng-click="main.checkall()">
          <span class="icons">
            <span class="icon-unchecked"></span>
            <span class="icon-checked"></span>
          </span>

        </label>
      </th>
      <th>#</th>
      <th>Nom du Projet</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="projet in main.projets" ng-class="{success: projet.check}">
      <td>
        <label class="checkbox">
          <input type="checkbox" ng-model="projet.check" data-toggle="checkbox" class="custom-checkbox">
          <span class="icons">
            <span class="icon-unchecked"></span>
            <span class="icon-checked"></span>
          </span>

        </label>
      </td>
      <td>{{projet.id}}</td>
      <td>{{projet.name}}</td>
    </tr>
  </tbody>
</table>

<small>Number of Projects : {{main.projets.length}}</small>
</ui-view>
