<ui-view>
<h3>
  <i class="fa fa-tasks"></i>
  Les Dirigeants
</h3>


</div>
<div class="dropdown settings pull-left">
  <a ng-click="dr.plusone()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions </i> <span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-menu-left">
<!-- ui-sref="details({id: '1'}) -->
    <li ng-class="{disabled : dr.voir}"><a href="" ng-click="dr.modifier()"><i class="fa fa-pencil-square-o"></i> Modifier</a></li>
    <li ng-class="{disabled: dr.delete}"><a href="#"><i class="fa fa-trash-o"></i> Supprimer</a></li>
  </ul>
</div>
<div class="button-add">
  <a class="btn btn-primary" ui-sref="achats.dirigeants.ajout"><i class="fa fa-plus"></i> Ajouter</a>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>
        <label class="checkbox">
          <input type="checkbox" class="custom-checkbox" ng-model="dr.master" ng-click="dr.checkall()">
          <span class="icons">
            <span class="icon-unchecked"></span>
            <span class="icon-checked"></span>
          </span>

        </label>
      </th>
      <th>#</th>
      <th>Nom du dirigeant</th>
      <th>Email</th>
      <th>Tel</th>
      <th>fonction</th>
      <th>client</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="dirigeant in dr.dirigeants" ng-class="{success: dirigeant.check}">
      <td>
        <label class="checkbox">
          <input type="checkbox" ng-model="dirigeant.check" data-toggle="checkbox" class="custom-checkbox">
          <span class="icons">
            <span class="icon-unchecked"></span>
            <span class="icon-checked"></span>
          </span>

        </label>
      </td>
      <td>{{dirigeant.id}}</td>
      <td>{{dirigeant.name}}</td>
      <td>{{dirigeant.email}}</td>
      <td>{{dirigeant.tel}}</td>
      <td>{{dirigeant.fonction}}</td>
      <td><a ng-href="#/achats/clients/details/{{dr.clientnames[$index].id}}">{{dr.clientnames[$index].name}}</a></td>
    </tr>
  </tbody>
</table>

<small>Number of dirigeants : {{dr.dirigeants.length}}</small>
</ui-view>
