<h3>
  Projet :
  <span>{{cl.clientsObj.name}}</span>
</h3>
<form class="form-horizontal" role="form">

  <div class="form-group">
    <label class="col-sm-2 control-label">Nom du client</label>
    <div class="col-sm-8">
      <input class="form-control" id="focusedInput" type="text" value="{{cl.clientsObj.name}}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      <input class="form-control" id="focusedInput" type="text" value="{{cl.clientsObj.email}}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Telephone</label>
    <div class="col-sm-8">
      <input class="form-control" id="focusedInput" type="text" value="{{cl.clientsObj.tel}}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">ville</label>
    <div class="col-sm-8">
      <input class="form-control" id="focusedInput" type="text" value="{{cl.clientsObj.ville}}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button ui-sref="achats.clients" type="submit" class="btn btn-primary">Retours aux clients</button>
    </div>
  </div>

</form>
